<footer class="footer">
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/Logo.png" alt="Logo" class="footer-logo-img" />
      </div>


      <div class="footer-links">
        <ul>
          <li><a routerLink="/" class="footer-link">Inicio</a></li>
          <li><a routerLink="/Adult" class="footer-link">Adultos</a></li>
          <li><a routerLink="/child" class="footer-link">Niños</a></li>
          <li><a routerLink="/usuarios" class="footer-link">Inicio Sesion</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy;2024. Proyecto Realizado por Sebastian Cardona y Christian Franco. </p>
    </div>
  </footer>