 <div class="admin-panel">
    <div class="sidebar">
      <h2>Panel de Administracion</h2>
      <ul>
        <li><a routerLink="admin/inventario">Gestion de Productos</a></li>
        <li><a routerLink="/admin">Gestion de Usuarios</a></li>
     </ul>
        <button routerLink="/usuarios" class="btn-signout">Cerrar Sesion</button>
    </div>
    
    <div class="content">
      <header>
        <h1>Gestión de Inventario</h1>
        <button class="btn-add">Agregar Producto</button>
      </header>
      <div class="card">
        <img class="card-img" src="https://cdn-images.farfetch-contents.com/18/54/99/39/18549939_43724221_1000.jpg" alt="Imagen del Producto">
        <div class="card-body">
          <h3 class="card-title">Yeezy foam Runner Onix</h3>
          <p class="card-price">$ 390.000</p>
          <p class="card-category">Categoria: Adulto</p>
          <p class="card-size">Size: 35|36|37|38 </p>
          <button class="add-to-cart">Editar</button>
          <br> 
          <br>
          <button class="add-to-cart">Eliminar</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="https://cdn-images.farfetch-contents.com/16/29/22/47/16292247_32007138_600.jpg" alt="Imagen del Producto">
        <div class="card-body">
          <h3 class="card-title">Dunk low UNC</h3>
          <p class="card-price">$ 650.000</p>
          <p class="card-category">Categoria: Adulto</p>
          <p class="card-size">Size: 36|38|40|41|42 </p>
          <button class="add-to-cart">Editar</button>
          <br> 
          <br>
          <button class="add-to-cart">Eliminar</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="https://cdn-images.farfetch-contents.com/22/94/89/36/22948936_53038834_1000.jpg" alt="Imagen del Producto">
        <div class="card-body">
          <h3 class="card-title">Air Force 1 </h3>
          <p class="card-price">$ 550.000</p>
          <p class="card-category">Categoria: Niño</p>
          <p class="card-size">Kid Size: 23|24|26|27|29 </p>
          <button class="add-to-cart">Editar</button>
          <br> 
          <br>
          <button class="add-to-cart">Eliminar</button>
        </div>
      </div>
      
 
      