<app-formulario-login></app-formulario-login>
<!-- 
<main class="container mt-5 ms-auto text-center bg-secondary p-5 rounded">
    <h2>INICIO DE SESIÓN</h2>

    <form [formGroup]="formularioLogin"  (ngSubmit)="handleSubmint()">
        <div class="mb-3 text-start">
          <label for="exampleInputEmail1" class="form-label">Email address</label>

          <input 
          type="email" 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
          name="email"
          formControlName="email"
          >

          <div id="emailHelp" class="form-text">!Tu correo es unico y no sera compartido para nadie mas!</div>
        </div>
        <div class="mb-3 text-start">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input 
          type="password" 
          class="form-control" 
          id="exampleInputPassword1"
          name="password"
          formControlName="password"
          >
        </div>
        <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
      </form>

</main> -->