<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
  <div class="contenedorBanner">
    <img class="banner" src="/assets/Banner.jpg" alt="" />
    <a routerLink="/registroUsuario" class="btn btn-light">
      !REGISTRATE!
    </a>
  </div>

  <div class="contenedorTitulo2 container text-center">
    <h2 class="tituloSecundario fs-1">VIVE LA CULTURA DE LOS SNEAKERS</h2>
    <p class="fs-2">
        ¡Únete a la revolución de los sneakers! 🌟 Las comunidades de sneakers son mucho más que un lugar para comprar zapatos, son el epicentro de la cultura, la moda y la pasión por los diseños exclusivos. Conoce a otros fanáticos, comparte tu colección, descubre lanzamientos limitados y lleva tu estilo al siguiente nivel. Si eres de los que vive y respira sneakers, este es el espacio perfecto para conectar con otros como tú. ¡Haz crecer tu pasión, no te quedes fuera! 👟🔥 
    </p>
  </div>
 <section class="Productos container-fluid d-flex gap-5 p-5 row text-center">
    <h2 class="tituloPromo fs-1">!20% DESCUENTO EN TODA NUESTRA TIENDA!</h2>
    <div class="contenedorImagen col ">
        <img src="/assets/imagenlanding.jpg" class="img-thumbnail" alt="Zapato1" />
        <p>
            En nuestra tienda, cada paso que das cuenta. Con sneakers de calidad, diseño único y máxima comodidad, te ofrecemos lo que necesitas para destacar con confianza. ¡Es momento de invertir en ti!👟🔥
        </p>
      </div>
      <div class="contenedorImagen col">
        <img src="https://images.unsplash.com/photo-1629170563358-5454246dc1f4?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-thumbnail" alt="Zapato2" />
        <p>
            ¡Únete a nuestra comunidad y vive la pasión por los sneakers! 👟🔥 Comparte tu estilo, descubre lanzamientos exclusivos y conecta con otros amantes de la moda. ¡Aquí, cada paso cuenta!
        </p>
      </div>
      <div class="contenedorImagen col">
        <img src="/assets/niñoImagen.jpg" class="img-thumbnail" alt="Zapato3" />
        <p>
            ¡Que los más pequeños caminen con estilo! 👟✨ Descubre nuestra sección de sneakers para niños, con diseños divertidos y cómodos que les encantarán. ¡Haz su día aún más especial con el par perfecto!
        </p>
      </div>
      
 </section>
</main>
<app-footer></app-footer>