
 <div class="admin-panel">
    <div class="sidebar">
      <h2>Panel de Administracion</h2>
      <ul>
        <li><a href="admin/inventario">Gestion de Productos</a></li>
        <li><a href="#">Gestion de Usuarios</a></li>
     </ul>
        <button class="btn-signout">Cerrar Sesion</button>
    </div>
    
    <div class="content">
      <header>
        <h1>Gestión de Usuarios</h1>
        <button class="btn-add">Agregar Usuario</button>
      </header>
  
      <div class="user-list">
        <div class="user-card">
          <p>Usuario 1</p>
          <div class="user-actions">
            <button class="btn-edit">Editar</button>
            <button class="btn-delete">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>  