<div class="product-container">
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/18/54/99/39/18549939_43724221_1000.jpg" alt="Product 1" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Yeezy foam Runner Onix</h3>
      <p class="product-description">Las Yeezy Foam Runner "Onyx" son unas zapatillas futuristas diseñadas por Kanye West para Adidas. Confeccionadas en una espuma ligera y reciclada, ofrecen un diseño único, con una estructura ventilada.</p>
      <br>
      <br>
      <p class="product-price">$390.000</p>
      <p class="product-size">Size 35|36|37|38</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>

  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/16/29/22/47/16292247_32007138_600.jpg" alt="Product 2" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Dunk low UNC</h3>
      <p class="product-description">Los Nike Dunk Low "UNC" son un par de zapatillas deportivas que rinden homenaje a la Universidad de Carolina del Norte (UNC), con un diseño que resalta por su combinación de colores.</p>
      <br>
      <br>
      <p class="product-price">$650.000</p>
      <p class="product-size">Size 36|38|40|41|42</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>

  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/22/94/89/36/22948936_53038834_1000.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Air Force 1 </h3>
      <p class="product-description">Los Nike Air Force 1 son unas zapatillas icónicas de baloncesto lanzadas en 1982, conocidas por su diseño clásico y atemporal. Confeccionadas en cuero, ofrecen una silueta elegante y cómoda.</p>
      <br>
      <br>
      <p class="product-price">$550.000</p>
      <p class="product-size">Size 36|37|39|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/13/67/83/45/13678345_21609919_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Jordan 1 High</h3>
      <p class="product-description">Los Air Jordan 1 High son unas zapatillas icónicas creadas por Nike en colaboración con Michael Jordan, lanzadas originalmente en 1985. Con su diseño clásico de caña alta y combinan cuero.</p>
      <br>
      <br>
      <p class="product-price">$950.000</p>
      <p class="product-size">Size 35|37|38|40|42</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/14/61/07/56/14610756_50599485_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Adidas Samba</h3>
      <p class="product-description">Las Adidas Samba son unas zapatillas clásicas que debutaron en 1950, inicialmente diseñadas para el fútbol sala. Con un diseño retro y una construcción robusta, ademas del cuero. </p>
      <br>
      <br>
      <p class="product-price">$450.000</p>
      <p class="product-size">Size 35|36|40|41|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/17/08/95/92/17089592_34723812_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">New Balance 550</h3>
      <p class="product-description">Los New Balance 550 son unas zapatillas retro que fueron lanzadas originalmente en 1989 como un modelo de baloncesto. Con un diseño clásico y una silueta de corte bajo, las 550 combinan cuero y gamuza.</p>
      <br>
      <br>
      <p class="product-price">$750.000</p>
      <p class="product-size">Size 35|37|39|41|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
</div>
